{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}
<header id="site-head" {{ with .Params.header_image }}style="background-image: url({{ . }})"{{ end }}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            {{ with .Params.header_headline }}<a href="https://maps.earth/"><h1 class="blog-title">{{ . }}</h1></a>{{ end }}
            {{ with .Params.header_subheadline }}<h2 class="blog-description">{{ . }}</h2>{{ end }}

            <p>
                <a href="https://github.com/headwaymaps/headway/stargazers">
                    <img style='display: inline' alt="GitHub Repo stars" src="https://img.shields.io/github/stars/headwaymaps/headway?style=social"/>
                </a>
                <a href="https://github.com/headwaymaps/headway/network/members">
                    <img style='display: inline' alt="GitHub forks" src="https://img.shields.io/github/forks/headwaymaps/headway?style=social"/>
                </a>
                <a href="https://matrix.to/#/#headway:matrix.org">
                    <img style='display: inline' alt="Matrix" src="https://img.shields.io/matrix/headway:matrix.org">
                </a>
                <a href="https://github.com/sponsors/ellenhp">
                    <img style='display: inline' alt="GitHub Sponsors" src="https://img.shields.io/github/sponsors/ellenhp"/>
                </a>
                <a href="https://liberapay.com/ellenhp/">
                    <img style='display: inline' alt="Liberapay patrons" src="https://img.shields.io/liberapay/patrons/ellenhp"/>
                </a>            </p>

            {{ range where $sections ".Params.header_menu" "eq" true }}
                 <a class='btn site-menu' data-title-anchor='{{ anchorize .Title }}'>{{ .Title }}</a>
            {{ end }}
            <i id='header-arrow' class="fa fa-angle-down"></i>
        </div>
    </div>
</header>
<main class="content" role="main">

    <div class='fixed-nav'>
    </div>
    {{ range $index_val, $elem_val := $sections }}
        <div class='post-holder'>
            <article id='{{ anchorize .Title }}' class='post {{ if eq $index_val 0 }}first{{ end }} {{ if eq (add $index_val 1) (len $sections) }}last{{ end }}'>
                <header class="post-header">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>
            <div class='post-after'></div>
        </div>
    {{ end }}
</main>
{{ end }}
